:root {
    --Color-System-color-System-800: #222424;
    --Color-System-color-System-600: #535555;
    --Color-System-color-System-300: #CCCDCD;
    --Color-System-color-System-200: #E1E1E1;
    --Color-System-color-System-50: #FFF;
    --Color-Primary-Primary-800: #BF7805;
    --Color-Primary-Primary-600: #FEC100;
    --Color-Primary-Primary-300: #FFE699;
    --Color-Primary-Primary-100: #FFF9E5;
    --System-S800: #222424;
    --System-S600: #535555;
    --primary-color: --Color-System-color-System-800;
    --secondary-color: --Color-System-color-System-600;
    --light-bg: #f3f4f6;
    --white: #ffffff;
    --container-width: 90rem;
    --background-color: #F8F4EC;
    --background-color-secondary: #F2F3F5;
    --background-color-footer: #652815;
    --background-color-footer-copiright: #5B1F0D;
    --text-color: var(--Color-System-color-System-800);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", serif;
    line-height: 1.6;
    color: var(--text-color);
    background: linear-gradient(137deg, var(--background-color) 29.93%, var(--background-color-secondary) 94.37%);
}
.header:has(.sandwich.opened) {
    height: 100vh;
    background-color: #FFF;
}
.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0rem;
}
.container.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .container {
        padding: 0 1rem;
    }
}
/* Header & Navigation */
.header {
    background-color: var(--background-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 1rem;
}

.header.scroll-down {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);
}
/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .header {
        padding: .5rem;
    }
    .header .container {
        padding: 0;
    }
}
.nav {
    padding: 0;
}
.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
}
main {
    background-image: url('../images/background-general.svg');
    background-position: bottom left;
    background-size: inherit;
    background-repeat: no-repeat;
}
@media only screen and (max-width:1439.0619rem) {
    main {
        padding: 0 1rem;
    }
}
/* Buttons */
/* Primary */
.primary-button {
    display: flex;
    padding: .75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-radius: .75rem;
    background: var(--Color-Primary-Primary-600);
    transition: color 0.3s ease;
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    border: 0;
}
.primary-button:hover {
    background: var(--Color-Primary-Primary-800);
}
/* Primary Transparent */
.primary-button-transparent {
    display: flex;
    padding: .75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-radius: .75rem;
    border: .125rem solid var(--Color-System-color-System-300);
    background-color: #fff;
    transition: color 0.3s ease;
    color: var(--Color-System-color-System-300);
    text-decoration: none;
    cursor: pointer;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
}
.primary-button-transparent:hover {
    color: var(--Color-System-color-System-800);
    border-color: var(--Color-System-color-System-800);
}
/* Buttons mods */
.primary-button.wide,
.primary-button-transparent.wide {
    min-width: 22rem;
    width: 22rem;
 }
 .primary-button.fit,
 .primary-button-transparent.fit {
     width: 100%;
  }
/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .primary-button.wide {
        min-width: 15rem;
        width: 15rem;
    }
}
.primary-button.stretch {
   min-width: 100%;
}
.nav-menu-cnt {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}
.nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
}
.nav-menu a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: .125rem solid transparent;
}
.nav-menu a:active, .nav-menu a:hover, .nav-menu a.active {
    color: var(--primary-color);
    border-bottom: .125rem solid var(--Color-Primary-Primary-800);
}
.nav-menu .submenu > a::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../images/icon-arrow-right.svg');
    display: inline-block;
    transform: rotate(-90deg);
    transition: all 0.3s ease;
}
.nav-menu .submenu .submenu-cnt{
    position: relative;
    display: none;
}
.nav-menu .submenu .submenu-cnt .submenu-items {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5rem;
    position: absolute;
    background: #FFFFFF;
    border: .0625rem solid #BF7805;
    border-radius: 1rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);
    padding: .5rem 1rem;
    gap: .2rem;
    margin-top: -0.3rem;
    margin-left: -0.4rem;
}
.nav-menu .submenu-cnt .submenu-items a {
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
    border-bottom: 0;
    padding: .5rem 1rem;
    align-self: stretch;
}
.nav-menu .submenu-cnt .submenu-items a:hover,
.nav-menu .submenu-cnt .submenu-items a.active {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFECB2;
    border-radius: 1rem;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav-menu .submenu:hover a::after {
    transform: rotate(0deg);
}
.nav-menu .submenu:hover .submenu-cnt {
    display: block;
}
.nav-menu--right {
    display: flex;
    list-style: none;
    gap: 2rem;
}
@media only screen and (min-width: 81.251rem) {
    .nav-menu--right {
        width: 214px;
        justify-content: right;
    }
}
/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .nav-menu-cnt {
        position: absolute;
        padding-left: 1rem;
        top: 5rem;
        left: 0;
        width: 100%;
        max-height: calc(100VH - 5.625rem);
        justify-content: flex-start;
        flex-direction: column;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);
    }
    .nav-menu {
        margin-top: 1rem;
        gap: .5rem;
        width: calc(100% - 2rem);
    }
    .nav-menu-cnt .sandwich {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 2.375rem;
        height: 1.75rem;
        cursor: pointer;
        padding: .3125rem;
        display: flex;
        position: fixed;
        right: 1.25rem;
        top: 1.25rem;
        padding: .5rem;
    }
    .nav-menu-cnt .sandwich span {
        display: block;
        width: 100%;
        height: .125rem;
        background-color: #333;
        transition: all 0.3s ease;
        transform-origin: center;
    }
    .nav-menu-cnt .sandwich.opened span:nth-child(1) {
        transform: translateY(.3125rem) rotate(45deg);
    }
    .nav-menu-cnt .sandwich.opened span:nth-child(2) {
        opacity: 0;
        transform: scale(0);
    }
    .nav-menu-cnt .sandwich.opened span:nth-child(3) {
        transform: translateY(-0.3125rem) rotate(-45deg);
    }
    .nav-menu li > a {
        font-weight: 500;
    }
    .nav-menu .submenu > a::after {
        background-image: none;
    }
    .nav-menu, .nav-menu-right {
        flex-direction: column;
    }
    .nav-menu .submenu-cnt  {
        position: relative !important;
        display: block !important;
    }
    .nav-menu .submenu-cnt .submenu-items {
        position: relative !important;
        border: none !important;
        background: none !important;
        box-shadow: none !important;
        padding: .5rem !important;
    }
    .nav-menu .submenu-cnt .submenu-items a:before {
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        background-image: none;
        transform: rotate(-90deg);
        font-weight: 400;
    }
    .nav-menu--right {
        width: calc(100% - 2rem);
        flex-direction: column;
    }
    .nav-menu--right li .primary-button {
        width: 100%;
        margin-block: 1.5rem;
    }
    .nav-menu-cnt:has(:not(.sandwich.opened)) .nav-menu,
    .nav-menu-cnt:has(:not(.sandwich.opened)) .nav-menu--right {
        display: none;
    }
    .nav-menu-cnt:has(.sandwich.opened) {
        background-color: #FFF;
        height: calc(100%);
        justify-content: space-between;
    }
    .nav-menu-cnt:has(.sandwich.opened) .nav-menu,
    .nav-menu-cnt:has(.sandwich.opened) .nav-menu--right {
        display: flex;
    }
    .nav-menu li > a,
    .nav-menu .submenu-cnt .submenu-items a {
        padding: .5rem 0rem;
        border-bottom: none !important;
    }
    .nav-menu li > a:hover,
    .nav-menu li > a.active,
    .nav-menu .submenu-cnt .submenu-items a:hover,
    .nav-menu .submenu-cnt .submenu-items a.active {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .5rem 1rem;
        background: #FFECB2;
        border-radius: 1rem;
        margin-left: -1rem;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }
}
/* Hero Section */
.hero {
    padding: 8rem 0 4rem;
}
.hero .container {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-content: center;
    margin: auto;
}
.hero h1 {
    color: #652815;
    text-align: center;
    font-family: "Young Serif", sans-serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 6.75rem;
}

.hero h2 {
    font-family: "Young Serif", sans-serif;
    display: flex;
    transform: rotate(2.126deg);
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    border-radius: 1.5rem;
    background: #652815;
    color: var(--Color-System-color-System-50);
    text-align: center;
    font-family: "Young Serif";
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 6.75rem;
}

.hero p {
    display: block;
    color: #000;
    text-align: center;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    max-width: 70%;
    margin: auto;
    margin-top: 2rem;
}
.hero p + p {
    margin-top: 2rem;
}
/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .hero {
        padding: 8rem 0 2rem;
    }
    .hero > .container {
        padding: 0;
    }
    .hero h1 {
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .hero h2 {
        transform: rotate(2.126deg);
        padding: 1rem;
        justify-content: center;
        align-items: center;
        gap: .625rem;
        border-radius: .75rem;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .hero p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
    .hero p + p {
        margin-top: 1.5rem;
    }
    .hero img {
        width: 6.25rem;
    }
    .hero img + img {
        margin-left: 1.5rem;
    }
}
@media only screen and (max-width: 62.5rem) {
    .hero img {
        width: 3.75rem;
    }
    .hero img + img {
        margin-left: 1rem;
    }
}

/* About Section */
.about {
    margin-top: 4rem;
}
.about .container {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-content: center;
    margin: auto;
}
.about h2 {
    display: flex;
    font-family: "Young Serif", sans-serif;
    color: #652815;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about h2 span.big {
    font-size: 7rem;
    height: 6.25rem;
    margin-right: 1rem;
}
.about h2 span.highlighted {
    display: flex;
    transform: rotate(7.815deg);
    padding: .75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    border-radius: 1.5rem;
    background: #652815;
    color: #FFF;
    text-align: center;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
}
.about h2 + .slides {
    margin-top: 1.25rem;
}
.about .slides {
    position: relative;
    width: 100%;
}
.about .slides .slide {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 4rem 3rem 6rem;
    flex-direction: row;
    border-radius: 2.5rem;
    border: .0625rem solid var(--Color-Primary-Primary-800);
    background: #FFF;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-block: 2rem;
}
.about .slides .slide + .slide {
    margin-top: 6rem;
}
.about .slides .slide > div {
    width: 50%;
}
.about .slides .slide > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .slides .slide > div:first-child > img:first-child {
    position: absolute;
    transform: rotate(-9.152deg);
}
.about .slides .slide:nth-child(odd) > div:first-child > img:first-child {
    transform: rotate(9.152deg);
}
.about .slides .slide > div:first-child > img:last-child {
    z-index: 1;
    margin-left: 0;
    width: 40%;
}
.about .slides .slide > div:last-child {
    text-align: left;
    font-family: Outfit;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}
.about .slides .slide > div:last-child h3 {
    font-family: "Young Serif";
    margin-bottom: 1rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
}
.about .slides .slide > div:last-child h4 {
    font-family: "Young Serif";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}
.about .slides .slide > div:last-child ul {
    list-style-position: inside;
    list-style-type: disc;
}
.about .slides .slide > div:last-child p + ul,
.about .slides .slide > div:last-child p + h4,
.about .slides .slide > div:last-child h4 + p,
.about .slides .slide > div:last-child p + p,
.about .slides .slide > div:last-child ul + p,
.about .slides .slide > div:last-child ul + h4,
.about .slides .slide > div:last-child ul + ul {
    margin-top: 1rem;
}
/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .about h2 {
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .about h2 span.big {
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        height: 2.5rem;
    }
    .about h2 span.highlighted {
        transform: rotate(7.815deg);
        padding: .75rem;
        justify-content: center;
        align-items: center;
        gap: .625rem;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .about .slides .slide > div:first-child > img:first-child {
        width: 22.3125rem;
    }
    .about .slides .slide > div:first-child > img:last-child {
        margin-left: 0%;
    }
}
@media only screen and (max-width: 62.5rem) {
    .about .slides .slide {
        flex-direction: column;
        padding: 1rem;
        border-radius: 1.5rem;
    }
    .about .slides .slide > div {
        width: 100%;
    }
    .about .slides .slide > div:first-child {
        min-height: 25rem;
        margin-top: -1.5rem;
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width: 27.5rem) {
    .about .slides .slide > div:first-child {
        margin-top: -0.5rem;
    }

    .about .slides .slide > div:first-child > img:first-child,
    .about .slides .slide:nth-child(odd) > div:first-child > img:first-child {
        transform: unset;
    }
}
/* Slogan Section */
.slogan {
    text-transform: uppercase;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.slogan .container {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-content: center;
    margin: auto;
}
.slogan h2 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--Color-Primary-Primary-800);
    font-family: "Young Serif";
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 7rem;
}
.slogan h2 span.dark {
    color: #652815;
}
.slogan h2 span.highlighted {
    display: flex;
    transform: rotate(-2deg);
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    border-radius: 1.5rem;
    background: var(--Color-Primary-Primary-600);
    color: var(--Color-Primary-Primary-300);
}
/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .slogan {
        text-transform: uppercase;
        margin-top: 4rem;
    }
    .slogan h2 {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .slogan h2 span.dark {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .slogan h2 span.highlighted {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        transform: rotate(-2deg);
        padding: .75rem;
        justify-content: center;
        align-items: center;
        gap: .625rem;
        border-radius: .75rem;
    }
}
/* Features */
.features {
    margin-top: 4rem;
    background-image: url('../images/background_feature.svg');
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
}
.features .container {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    align-content: center;
    flex-direction: row;
    margin: auto;
}
.features > .container > div:first-child {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 50%
}
.features > .container > div:first-child > img {
    width: 60%;
    max-width: 18.75rem;
}
.features > .container > div:last-child {
    width: 50%;
    background-color: #FFF;
    display: inline-flex;
    padding: 3.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
}
.features > .container > div:last-child > h3 {
    color: #652815;
    text-align: center;
    font-family: "Young Serif";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    margin-bottom: 2rem;
}
.features > .container > div:last-child > h4 {
    color: var(--Color-System-color-System-800);
    font-family: "Young Serif";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}
.features > .container > div:last-child > h3 span {
    display: inline-flex;
    transform: rotate(4.026deg);
    padding: .75rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    border-radius: 1.5rem;
    background: #652815;
    color: #FFF;
}
.features > .container > div:last-child ul {
    list-style: none;
}
.features > .container > div:last-child ul li {
    background: url('../images/icon-check.svg') no-repeat left top;
    padding: 0 0 0 2rem;
    margin: .3rem 0 0 0;
}
/* Mobile UI */
@media only screen and (max-width:1439.0619rem) {
    .features {
        margin-inline: -1rem;
    }
}
@media only screen and (max-width: 81.25rem) {
    .features .container {
        flex-direction: column;
        padding: 2rem 0;
    }
    .features > .container > div:last-child > h3 {
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        width: 100%;
    }
    .features > .container > div:last-child > h4 {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .features > .container > div:last-child > p {
        font-size: .875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem;
    }
    .features > .container > div:last-child > h3 span {
        transform: rotate(4.026deg);
        padding: .5rem .75rem;
        justify-content: center;
        align-items: center;
        gap: .625rem;
        border-radius: .75rem;
    }
    .features > .container > div:first-child {
        width: 100%;
    }
    .features > .container > div:last-child {
        padding: 1rem;
        width: 100%;
    }
    .features > .container > div:last-child ul li {
        font-size: .875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem;
        padding: 0 0 0 1.5rem;
        background-size: 1.2rem;
    }
}
/* Features with screenshots*/
.features_with_screenshot {
    margin-top: 4rem;
}
.features_with_screenshot {
    padding: 0 2rem;
}
.features_with_screenshot > .container {
    display: flex;
    padding: 3rem 0;
    align-items: center;
    gap: 2.5rem;
    border-radius: 2.5rem;
    border: .0625rem solid var(--Color-Primary-Primary-800);
    background: #FFF;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
}
.features_with_screenshot > .container > div {
    width: calc(50% - 2.5rem);
}
.features_with_screenshot > .container > div:first-child > img {
    max-width: 100%;
    height: auto;
}
.features_with_screenshot > .container > div:last-child > h3 {
    color: #652815;
    font-family: "Young Serif";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    margin-bottom: 2rem;
}
.features_with_screenshot > .container > div:last-child {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}
/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .features_with_screenshot .container {
        flex-direction: column;
    }
    .features_with_screenshot {
        padding: 0 1rem;
    }
    .features_with_screenshot > .container > div {
        width: 100%;
    }
    .features_with_screenshot > .container > div:first-child {
        padding-right: 2rem;
    }
    .features_with_screenshot > .container > div:last-child > h3 {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .features_with_screenshot > .container > div:last-child {
        padding-inline: 1rem;
        font-size: .875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.125rem;
    }
}
/* Payment Plans */
.paymemnt-plans {
    margin-top: 4rem;
}
.paymemnt-plans > .container {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-content: center;
    margin: auto;
    padding: 2rem 0;
}
.paymemnt-plans > .container > h3 {
    color: #652815;
    text-align: center;
    font-family: "Young Serif";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
}
.paymemnt-plans > .container > p {
    color: var(--Color-System-color-System-800);
    text-align: center;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 1.5rem;
    margin-inline: 1rem;
}
.paymemnt-plans > .container > .paymemnt-plans-cnt {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.paymemnt-plans > .container > .paymemnt-plans-cnt > div {
    padding: 1.5rem;
    border-radius: 1.5rem;
    background: #FFF;
}
.paymemnt-plans > .container > .paymemnt-plans-cnt > div.highlighted {
    border: .125rem solid var(--Color-Primary-Primary-800);
    background: var(--Color-System-color-System-50);
    box-shadow: 0rem .625rem 1.6313rem 0rem rgba(140, 137, 137, 0.25);
}
.paymemnt-plans > .container > .paymemnt-plans-cnt > div > h4 {
    color: #000;
    text-align: center;
    font-family: "Young Serif";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; /* 133.333% */
}
.paymemnt-plans > .container > .paymemnt-plans-cnt > div > h5 {
    color: var(--Color-Primary-Primary-800, #BF7805);
    text-align: center;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
}
.paymemnt-plans > .container > .paymemnt-plans-cnt > div > img {
    margin-top: 1rem;
    width: 100%;
}
.paymemnt-plans > .container > .paymemnt-plans-cnt > div ul {
    padding-top: 1rem;
    list-style: none;
    text-align: left;
}
.paymemnt-plans > .container > .paymemnt-plans-cnt > div button {
    margin-top: 1rem;
}
.paymemnt-plans > .container > .paymemnt-plans-cnt > div p {
    padding-top: 1rem;
    font-size: .875rem;
    line-height: 1.125rem;
    color: #2A2D2D;
    text-align: center;
}
.paymemnt-plans > .container > .paymemnt-plans-cnt > div ul li {
    background: url('../images/icon-check-bright.svg') no-repeat left top;
    padding: 0 0 0 2rem;
    margin: .3rem 0 0 0;
}
/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .paymemnt-plans > .container > .paymemnt-plans-cnt {
        padding: .5rem;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .paymemnt-plans > .container > .paymemnt-plans-cnt > div {
        padding: 1rem;
        border-radius: 1rem;
    }
    .paymemnt-plans > .container > h3 {
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .paymemnt-plans > .container > p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
}
@media only screen and (max-width: 62.5rem) {
    .paymemnt-plans > .container > .paymemnt-plans-cnt {
        padding: .5rem;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
/* Payment Plans Compare */
.paymemnt-plans-compare {
    margin-top: 4rem;
}
.paymemnt-plans-compare > .container {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-content: center;
    margin: auto;
    padding: 2rem 0;
}
.paymemnt-plans-compare > .container > h3 {
    color: #652815;
    text-align: center;
    font-family: "Young Serif";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
}
.paymemnt-plans-compare > .container > p {
    color: var(--Color-System-color-System-800);
    text-align: center;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 1.5rem;
}
.paymemnt-plans-compare > .container > .paymemnt-plans-compare-cnt {
    padding: 1.5rem;
    border-radius: 1.5rem;
    border: .125rem solid var(--Color-Primary-Primary-800);
    background: var(--Color-System-color-System-50);
    width: 100%;
}
.paymemnt-plans-compare > .container > .paymemnt-plans-compare-cnt > table {
    width: 100%;
}
.paymemnt-plans-compare > .container > .paymemnt-plans-compare-cnt > table th {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #535555;
    text-align: left;
    border-bottom: .0625rem solid #E1E1E1;
    padding: .75rem 1rem;
}
.paymemnt-plans-compare > .container > .paymemnt-plans-compare-cnt > table td {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #222424;
    text-align: left;
    padding: 1rem;
}
.paymemnt-plans-compare > .container > .paymemnt-plans-compare-cnt > table th:nth-child(2),
.paymemnt-plans-compare > .container > .paymemnt-plans-compare-cnt > table th:nth-child(3),
.paymemnt-plans-compare > .container > .paymemnt-plans-compare-cnt > table td:nth-child(2),
.paymemnt-plans-compare > .container > .paymemnt-plans-compare-cnt > table td:nth-child(3) {
    text-align: center;
}
/* Mobile UI */
@media only screen and (max-width: 90rem) {
    .paymemnt-plans-compare > .container {
        padding: 2rem;
    }
}
@media only screen and (max-width: 81.25rem) {
    .paymemnt-plans-compare > .container > .paymemnt-plans-compare-cnt {
        padding: .5rem;
        margin-top: 1rem;
    }
    .paymemnt-plans-compare > .container > .paymemnt-plans-compare-cnt > div {
        padding: 1rem;
        border-radius: 1rem;
    }
    .paymemnt-plans-compare > .container > h3 {
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .paymemnt-plans-compare > .container > p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
    .paymemnt-plans-compare > .container {
        padding: 0 1rem;
    }
    .paymemnt-plans-compare > .container > .paymemnt-plans-compare-cnt > table th {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: .5rem .5rem;
    }
    .paymemnt-plans-compare > .container > .paymemnt-plans-compare-cnt > table td {
        font-size: .875rem;
        line-height: 1.125rem;
        padding: .5rem .5rem;
    }
}
/* Image Block */
.image {
    margin-top: 4rem;
}
.image > .container {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-content: center;
    margin: auto;
    padding: 2rem 0;
}
.image > .container > img {
    width: 100%;
    padding: 1rem 0;
}
.image > .container > h3 {
    color: #652815;
    text-align: center;
    font-family: "Young Serif";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
}
.image > .container > p {
    color: var(--Color-System-color-System-800);
    text-align: center;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 1.5rem;
    padding: 1rem;
}
/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .image > .container > img {
        padding: 1rem;
    }
    .image > .container > h3 {
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .image > .container > p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
}

/* Image Two Columns With Text */
.image-two-columns-with-text {
    margin-top: 4rem;
}
.image-two-columns-with-text > .container {
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    display: flex;
    align-content: center;
    margin: auto;
    border-radius: 2.5rem;
    justify-content: space-between;
}
.image-two-columns-with-text > .container > img {
    width: 50%;
    margin: 1rem 0;
}
.image-two-columns-with-text > .container > div {
    width: calc(50% - 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image-two-columns-with-text > .container > div > h3 {
    color: #652815;
    text-align: center;
    font-family: "Young Serif";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
}
.image-two-columns-with-text > .container > div > p {
    color: var(--Color-System-color-System-800);
    text-align: center;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 1.5rem;
}

/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .image-two-columns-with-texts > .container {
        flex-direction: row;
        border-radius: .75rem;
        padding: 1rem 1.5rem;
        gap: .625rem;
        margin-inline: 1rem;
    }
    .image-two-columns-with-text > .container > div {
        width: 100%;
    }
    .image-two-columns-with-text > .container > div > h3 {
        justify-content: center;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .image-two-columns-with-text > .container > div > p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
    .image-two-columns-with-text > .container > img {
        width: 100%;
        margin: 1rem 0;
    }
}
/* Image Two Columns Block */
.image-two-columns {
    margin-top: 4rem;
}
.image-two-columns > .container {
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    display: flex;
    align-content: center;
    margin: auto;
    padding: 3rem 5rem;
    border-radius: 2.5rem;
    border: .0625rem solid var(--Color-Primary-Primary-800);
    background: #FFF;
}
.image-two-columns > .container > img {
    width: calc(50% - 2rem);
    margin: 1rem;
}
.image-two-columns > .container > h3 {
    width: calc(50% - 2rem);
    color: #652815;
    text-align: center;
    font-family: "Young Serif";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    display: flex;
    align-items: center;
}

/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .image-two-columns > .container {
        flex-direction: column;
        border-radius: .75rem;
        padding: 1rem 1.5rem;
        gap: .625rem;
        margin-inline: 1rem;
    }
    .image-two-columns > .container > h3 {
        justify-content: center;
        width: 100%;
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .image-two-columns > .container > img {
        width: 100%;
    }
}
/* FAQs */
.faqs {
    margin-top: 4rem;
}
.faqs .faq-expand-collapse {
    position: relative;
    width: 100%;
    height: 0;
    display: flex;
    margin-top: -0.625rem;
    justify-content: end;
}
.faqs .faq-expand-collapse::after {
    position: absolute;
    color: var(--Color-System-color-System-800);
    font-size: 2.5rem;
    font-family: Outfit;
    font-weight: 300;
    content: '+';
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -1.875rem;
    margin-top: .5rem;
    cursor: pointer;
}
.faqs .faq.expanded .faq-expand-collapse::after {
    content: '-';
}
.faqs > .container {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-content: center;
    margin: auto;
    padding: 2rem 0;
}
.faqs > .container > img {
    width: 100%;
    margin-bottom: 2rem;
    margin-inline: -2rem;
}
.faqs > .container > h3 {
    color: #652815;
    text-align: center;
    font-family: "Young Serif";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    margin-bottom: 1.5rem;
}
.faqs > div > p {
    color: var(--Color-System-color-System-800);
    text-align: center;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 1.5rem;
}
.faqs  > div > p > a {
    color: #652815;
    text-decoration: underline;
}
.faqs > .container > .faq {
    width: 70%;
    margin-top: 1rem;
    display: flex;
    padding: 1rem 3rem 1rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .625rem;
    align-self: stretch;
    border-radius: .75rem;
    border: .0625rem solid var(--Color-Primary-Primary-800);
    background: #FFF;
    margin-inline: auto;
}
.faqs > .container > .faq > h4 {
    color: var(--System-S800);
    font-family: "Young Serif";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    text-align: left;
    cursor: pointer;
}
.faq > div:not(.faq-expand-collapse) {
    transition: height 0.5s ease;
    overflow: hidden;
    height: .1rem;
}
.faq.expanded > div:not(.faq-expand-collapse) {
    height: max-content;
    height: calc-size(max-content, size);
}
.faqs > .container > .faq > div > p {
    color: var(--System-S600);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: left;
}
/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .faqs > .container > img {
        margin-inline: -1rem;
    }
    .faqs > .container > h3 {
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .faqs > .container > p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
    .faqs > .container > .faq {
        width: calc(100% - 2rem);
    }
}
/* Payments */
.payments {
    margin-top: 5rem;
}
.payments > .container {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-content: center;
    margin: auto;
}

.payments > .container > h3 {
    color: #652815;
    text-align: center;
    font-family: "Young Serif";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
}
.payments > .container > p {
    color: var(--Color-System-color-System-800);
    text-align: center;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 1.5rem;
}
.payments > .container .payments-viewport {
    margin-block: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
}
.payments > .container > .payments-viewport > .payment {
    display: flex;
    width: 25rem;
    height: 27.5rem;
    transform: rotate(6deg);
    padding: 2rem 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 1.5rem;
    border: .0625rem solid var(--Color-Primary-Primary-800);
    background: #FFF;
}
.payments > .container > .payments-viewport > .payment:nth-child(odd) {
    transform: rotate(-6deg);
}
.payments > .container > .payments-viewport > .payment > img {
    max-width: 100%;
}
.payments > .container > .payments-viewport > .payment h4 {
    color: var(--Color-System-color-System-800);
    font-family: "Young Serif";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    margin-block: 3rem 2rem;
    text-align: left;
}
.payments > .container > .payments-viewport > .payment p {
    color: var(--Color-System-color-System-800);
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    text-align: left;
}
/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .payments {
        margin-top: 4rem;
    }
    .payments > .container > h3 {
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .payments > .container > p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
    .payments > .container > .payments-viewport {
        gap: 1rem;
    }
    .payments > .container > .payments-viewport > .payment {
        width: 23rem;
        height: 23rem;
    }
    .payments > .container > .payments-viewport > .payment h4 {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .payments > .container > .payments-viewport > .payment p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
    .payments > .container > .payments-viewport > .payment {
        transform: none !important;
    }
}
@media only screen and (max-width: 62.5rem) {
    .payments > .container > .payments-viewport {
        gap: 1rem;
        align-items: center;
        flex-direction: column;
    }
}
/* Contact Form */
.contact {
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.contact > .container {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-content: center;
    margin: auto;
}
.contact > .container > h3 {
    color: #652815;
    text-align: center;
    font-family: "Young Serif";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
}
.contact > .container > p {
    color: var(--Color-System-color-System-800);
    text-align: center;
    font-family: Outfit;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 1.5rem;
}
.contact-form {
    min-width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}
.form-group {
    width: 100%;
    margin-top: 1rem;
    text-align: left;
    margin-right: 1rem;
}
.form-group label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 500;
}
.form-group input {
    width: 100%;
    display: flex;
    padding: .75rem 1rem;
    align-items: center;
    gap: .625rem;
    align-self: stretch;
    color: var(--Color-System-color-System-600);
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    border-radius: .75rem;
    border: .0625rem solid var(--Color-System-color-System-300);
    background: var(--Color-System-color-System-50);
}
.form-group input:focus {
    outline-color: var(--Color-Primary-Primary-800);
    border: .0625rem solid var(--Color-Primary-Primary-8s00);
}
.form-group textarea {
    height: 9.375rem;
    resize: vertical;
}
/* Mobile UI */
@media only screen and (max-width: 81.25rem) {
    .contact {
        padding-top: 4rem;
    }
    .contact > .container > h3 {
        font-size: 1.75rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
    }
    .contact > .container > p {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }
    .contact-form .form-group {
        margin-right: 0;
    }
    .contact-form {
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }
    .contact-form .primary-button {
        width: 100%;
    }
}

/* Footer */
.footer {
    background-color: var(--background-color-footer);
    color: var(--white);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer-content .container {
    max-width: var(--container-width);
    padding: 0 2rem;
    margin-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-copyright {
    margin: auto;
    max-width: 100%;
    background-color: var(--background-color-footer-copiright);
}
.footer-copyright .container {
    max-width: var(--container-width);
    padding: 1rem 2rem;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-copyright-links a {
    color: var(--Color-System-color-System-200);
    text-align: center;
    font-family: Outfit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: none;
}
.footer-copyright-links a:hover {
    text-decoration: underline;
}
.footer-copyright-links a + a {
    margin-left: 1.5rem;
}

/* Mobile UI */
@media only screen and (max-width: 62.5rem) {
    .footer-content .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-copyright .container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .footer-copyright-links {
        display: flex ;
        flex-direction: column;
        align-items: flex-start;
        margin-block: 1rem;
    }
    .footer-copyright-links a + a {
        margin-left: 0;
        margin-top: .5rem;
    }
}

/* START: Animarted Sliders mod */
.about .slides {
    overflow: hidden;
}
.slides_viewport {
    display: flex;
    transition: transform 0.5s ease;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
}

.slide {
    flex: 0 0 100%;
    width: 100%;
    box-sizing: border-box;
}

.slide > div {
    display: flex;
    flex-direction: column;
}

.slide > div > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide > div > div:first-child img:first-child {
    width: 100%;
    max-width: 18.75rem;
    height: auto;
}

.slide > div > div:first-child img:last-child {
    position: absolute;
    width: 60%;
    max-width: 12.5rem;
    height: auto;
}

.slides_dots {
    display: flex;
    justify-content: center;
    gap: .625rem;
    margin-top: 1.25rem;
}

.slide-dot {
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    border: none;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slide-dot.active {
    background: var(--Color-Primary-Primary-600);
}
.about .slides .slide {
    height: min-content;
}
@media (max-width: 48rem) {
    .slide {
        padding: .9375rem;
    }

    .slide > div {
        gap: .9375rem;
    }

    .slide > div > div:first-child img:first-child {
        max-width: 15.625rem;
    }

    .slide > div > div:first-child img:last-child {
        max-width: 9.375rem;
    }

    .slide h3 {
        font-size: 1.5rem;
    }

    .slide p {
        font-size: 1rem;
    }

    .slide ul {
        padding-left: 1.25rem;
    }

    .slide-dot {
        width: .625rem;
        height: .625rem;
    }
}

@media (max-width: 30rem) {
    .slide {
        padding: .625rem;
    }

    .slide > div {
        gap: .625rem;
    }

    .slide > div > div:first-child img:first-child {
        max-width: 12.5rem;
    }

    .slide > div > div:first-child img:last-child {
        max-width: 7.5rem;
    }

    .slide h3 {
        font-size: 1.25rem;
    }

    .slide p {
        font-size: .9rem;
    }

    .slide ul {
        padding-left: .9375rem;
    }

    .slide-dot {
        width: .5rem;
        height: .5rem;
    }
}
/* END: Animarted Sliders mod */
